<h1>Signup!</h1>
<hr>

<%= form_for :user, url: '/users' do |f| %>

  <p><strong>First name:</strong></p>
  <div> <%= f.text_field :first_name, class: 'log-reg-input' %></div>
  <strong><p>Last name:</strong></p> 
  <div><%= f.text_field :last_name, class: 'log-reg-input' %></div>
  <strong><p>Email: </strong></p>
  <div><%= f.text_field :email, class: 'log-reg-input' %></div>
 <strong><p>Password:</strong></p> 
 <div><%= f.password_field :password, class: 'log-reg-input' %></div>
 <strong><p>Password Confirmation: </strong></p>
 <div><%= f.password_field :password_confirmation, class: 'log-reg-input' %></div>
  <div><%= f.submit "Create Account",class: 'btn btn-primary' %></div>

 <hr>
<% end %>