<h1>Signup!</h1>
<hr>

<%= form_for :user, url: '/users' do |f| %>

  First name:
  <div> <%= f.text_field :first_name %></div>
  Last name: 
  <div><%= f.text_field :last_name %></div>
  Email: 
  <div><%= f.text_field :email %></div>
 Password: 
 <div><%= f.password_field :password %></div>
 Password Confirmation: 
 <div><%= f.password_field :password_confirmation %></div>
 <hr>
  <div><%= f.submit "Create Account",class: 'btn btn-primary' %></div>

<% end %>